* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

.parallax {
    width: 100%;
    height: 100%;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: 50% 0 !important;
    position: relative;
}

.div1 {
    background-image: url('../img/pedraFilosofal.jpg');
}
.div2 {
    background-image: url('../img/cameraSecreta.jpg');
}
.div3 {
    background-image: url('../img/prisioneiroAskaban.jpg');
}
.div4 {
    background-image: url('../img/caliceFogo.jpg');
}
.div5 {
    background-image: url('../img/ordemFenix.jpg');
}
.div6 {
    background-image: url('../img/enigmaPrincipe.jpg');
}

.div7 {
    background-image: url('../img/reliquiasMorte1.jpg');
}

.div8 {
    background-image: url('../img/reliquiasMorte2.jpg');
}

body {
    background-color: transparent !important;  
}

